#head{
    margin-left: 10%;
}
#logo {
    display:block;
    margin-left: auto;
    margin-right: auto;
    height: 75px;
}
#searchbar{
    margin-left: 7%;
    width:95%;
    text-align:center;
    height: 100px;
}
#sbox {
    width:50%;
    font-size:30px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
#searchbar div {
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.demo-section{
    width:25%;
}
.demo-section select{
    width:25%;
}
#sidebar{
    float:left;
    width:24%;
    height:98%;
    overflow-y:auto;
    overflow-x:hidden;
    position:fixed;
    top: 0px;
}
#results{
    margin-left:25%;
}
.result-metrics{
    background: #eee;
}
.result-metrics div{
    margin-left:20%;
}
#chiclet-box{
    outline:thin solid black;
    border-spacing:5px 1em;
    background-color:#eee;
    margin-right:10px;
}
.result-title{
    outline:thin solid black;
    border-spacing:5px 1em;
    margin-top:10px;
}
.result-title:nth-child(even){
    background-color:#eee;
}
.result-title:nth-child(odd){
    background-color:#fff;
}
.result-title div{
    padding: 10px;
}
a,
span.constraint,
span.chiclet,
span.more-button,
span.less-button,
.export{
    cursor:pointer;
    color: #43a4b1;
    text-decoration:underline;
}
span.more-button,
span.less-button{
    margin-left:5px;
}
span.chiclet{
    margin-left:5px;
}
.hidden{
    display:none;
}
div.facet-box{
    outline:thin solid black;
    margin-right:10px;
    margin-left:5px;
}
div.facet-box > h3{
    text-align:center;
    background-color:#eee;
}
span.count{
    color:gray;
}
.export {
    margin-left: 10px;
}
div.facet-box h3 {
  background: #FEC293;
  border: 1px solid #ce9d77;
  padding: 5px;
}
span.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 12px;
    font-weight: normal;  
    margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding:0;
}
